.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.row-attribute {
    display: flex;
}


.grid {
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
    box-sizing: border-box;
}